<html>
<head>
 <title>Zen Github API</title>
 <link rel="stylesheet" type="text/css" href="https://goo.gl/7KuzjX">
 <style>
 body{background:url('<%= @nature_url ['url'] %>'); color:white;}
 h1{font-size: 50px;}
 .container{background: transparent; margin-top: 30px; text-align: center;}
 .wisdom{font-size:50px; font-weight:600;}
 </style>
 </head>
 <body>
  <div class="container">
  <h1>Zen App</h1>
  <h2 class="wisdom"><%=@zenmsg%></h2>
  </div>
</body>
</html>
