<html>
<head>
   <title>Rock: Paper: Scisiors:</title>
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<h1>Welcome to my app!</h1>
<h2>Today is <%= Time.now.strftime('%A') %>.</h2>
</body>
</html>
