<html>
 <head>
    <title>Sinatra Umbrellacast App</title>
 </head>
 <body>
  <div class="container">
    <form action='/wf' method='post' >
    <input type='text' name='zipcode'>
    <input type='submit' value='Get the Forecast'>
  </form>
  </div>
 </body>
</html>
