<!DOCTYPE html>
<html>
<head>
  <title>Garage-io </title>
  <link rel="stylesheet" type="text/css" href="https://goo.gl/7KuzjX">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
  .brand{color: black; font-weight: 800;letter-spacing: 1px;font-size: 23px; text-transform: uppercase;}
  </style>
</head>
<body>
  <nav class="navbar navbar-custom navbar-fixed" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                      <i class="fa fa-bars"></i>
                  </button>
                  <a class="navbar-brand page-scroll" href="#page-top">
                      <span class="brand">Garage-io</span>
                  </a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                  <ul class="nav navbar-nav">
                      <li>
                          <a class="btn" href="/Sign In">Sign In</a>
                      </li>
                      <li>
                          <a class="btn" href="/Sign Up">Sign Up</a>
                      </li>

                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
      </nav>

<%= yield %>

</body>
</html>
