<html>
<head>
  <title>:RPS <%=@choice%></title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
 <h1>Hello, Welcome to RPS</h1>
 <h2>The computer pick</h2><hr/>
 <h3><%=@choice%></h3><hr/>
 <h4>You pick: <%= params[:my_choice] %></h4>
</div>
</body>
</html>
